# Core packages
numpy
pywavelets
robustbench
git+https://github.com/fra31/auto-attack.git@main

# Python packages from environment.yml pip section
addict
appdirs
attr
attrs
backcall
black
chardet
click
cloudpickle
decorator
flake8
idna
imagecorruptions
imageio
iopath
ipython
isort
jedi
jinja2
joblib
markupsafe
matplotlib-inline
mccabe
networkx
packaging
parameterized
parso
pexpect
pickleshare
portalocker
prompt-toolkit
ptyprocess
pycodestyle
pyflakes
pygments
pytorchcv
pytz
pyyaml
requests
scikit-image
scikit-learn
scipy
simplejson
submitit
threadpoolctl
tifffile
timm
toml
tqdm
traitlets
urllib3
wcwidth
yacs
yapf
yattag
gdown

# PyTorch packages
torch
torchvision
torchaudio

# Additional packages
pillow
typing_extensions